<a href="https://colab.research.google.com/github/nathalyAlarconT/basic_training/blob/main/Basic_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## Dataframes

In [3]:
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
df.shape

(216824, 67)

In [4]:
df.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

## Atributos de un dataframe

In [5]:
# Nombres de las columnas
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [6]:
df.columns.to_numpy()
# list(df.columns)

array(['iso_code', 'continent', 'location', 'date', 'total_cases',
       'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate',
       'icu_patients', 'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units',
       'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities',
       'hospital_beds_per_thousand', 'life_expectancy',
       'human_development_index', 'excess_mortality_cumulative_absolute',
       'excess_mortality_cumulative', 'excess_mortality',
       'excess_mortality_cumulative_per_million'], dtype=object)

In [7]:
# Indexes de las filas
df.index

RangeIndex(start=0, stop=216824, step=1)

In [8]:
# datos
df.to_numpy()

array([['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ...,
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan],
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan],
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan]], dtype=object)

## Tipos de datos

In [9]:
type(df.columns)

pandas.core.indexes.base.Index

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [12]:
# Obtener la cantidad de columnas por tipo de dato

df.dtypes.value_counts()

float64    62
object      5
dtype: int64

In [13]:
# .info() muesta la información referente al tipo de dato además 
# de la cantidad de memoria que usa el dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216824 entries, 0 to 216823
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    216824 non-null  object
 1   continent                                   204346 non-null  object
 2   location                                    216824 non-null  object
 3   date                                        216824 non-null  object
 4   total_cases                                 207912 non-null  float64
 5   new_cases                                   207672 non-null  float64
 6   new_cases_smoothed                          206480 non-null  float64
 7   total_deaths                                188868 non-null  float64
 8   new_deaths                                  188820 non-null  float64
 9   new_deaths_smoothed                         187640 non-null  float64
 10  total_cases_per_million                     206960 non-null  float64
 11  new_cases_per_million                       206720 non-null  float64
 12  new_cases_smoothed_per_million              205533 non-null  float64
 13  total_deaths_per_million                    187929 non-null  float64
 14  new_deaths_per_million                      187881 non-null  float64
 15  new_deaths_smoothed_per_million             186706 non-null  float64
 16  reproduction_rate                           162947 non-null  float64
 17  icu_patients                                27646 non-null   float64
 18  icu_patients_per_million                    27646 non-null   float64
 19  hosp_patients                               30380 non-null   float64
 20  hosp_patients_per_million                   30380 non-null   float64
 21  weekly_icu_admissions                       7121 non-null    float64
 22  weekly_icu_admissions_per_million           7121 non-null    float64
 23  weekly_hosp_admissions                      14087 non-null   float64
 24  weekly_hosp_admissions_per_million          14087 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          60687 non-null   float64
 35  people_vaccinated                           57994 non-null   float64
 36  people_fully_vaccinated                     55251 non-null   float64
 37  total_boosters                              32138 non-null   float64
 38  new_vaccinations                            49913 non-null   float64
 39  new_vaccinations_smoothed                   124507 non-null  float64
 40  total_vaccinations_per_hundred              60687 non-null   float64
 41  people_vaccinated_per_hundred               57994 non-null   float64
 42  people_fully_vaccinated_per_hundred         55251 non-null   float64
 43  total_boosters_per_hundred                  32138 non-null   float64
 44  new_vaccinations_smoothed_per_million       124507 non-null  float64
 45  new_people_vaccinated_smoothed              123810 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  123810 non-null  float64
 47  stringency_index                            163886 non-null  float64
 48  population                                  215555 non-null  float64
 49  population_density                          192532 non-null  float64
 50  median_age                                  178207 non-null  float64
 51  aged_65_older                               176324 non-null  float64
 52  aged_70_older                               177274 non-null  float64
 53  gdp_per_capita                              177475 non-null  float64
 54  extreme_poverty                             115776 non-null  float64
 55  cardiovasc_death_rate                       177743 non-null  float64
 56  diabetes_prevalence                         186812 non-null  float64
 57  female_smokers                              134599 non-null  float64
 58  male_smokers                                132756 non-null  float64
 59  handwashing_facilities                      87357 non-null   float64
 60  hospital_beds_per_thousand                  158086 non-null  float64
 61  life_expectancy                             202558 non-null  float64
 62  human_development_index                     173267 non-null  float64
 63  excess_mortality_cumulative_absolute        7271 non-null    float64
 64  excess_mortality_cumulative                 7271 non-null    float64
 65  excess_mortality                            7316 non-null    float64
 66  excess_mortality_cumulative_per_million     7271 non-null    float64
dtypes: float64(62), object(5)
memory usage: 110.8+ MB

In [14]:
pd.Series(["Paul", np.nan, "George"]).dtype

dtype('O')

In [15]:
df["total_cases"].dtype

dtype('float64')

## Conteos básicos

In [16]:
# Valores únicos de una columna

df["continent"].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [17]:
# Conteo de valores únicos de una columna

df["continent"].value_counts()

Africa           50088
Europe           46912
Asia             46552
North America    33346
Oceania          15409
South America    12039
Name: continent, dtype: int64

In [18]:
#conteo de valores de una columns
print("Conteo de valores de la columna continente")
print(df["continent"].count()) #excluye a los missing values

print("Número total de filas en el dataset")
print(len(df))

Conteo de valores de la columna continente
204346
Número total de filas en el dataset
216824

## Estadística Básica

In [19]:
df[df["location"] =="Bolivia"]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
23290,BOL,South America,Bolivia,2020-03-11,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23291,BOL,South America,Bolivia,2020-03-12,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23292,BOL,South America,Bolivia,2020-03-13,3.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23293,BOL,South America,Bolivia,2020-03-14,10.0,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23294,BOL,South America,Bolivia,2020-03-15,10.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24204,BOL,South America,Bolivia,2022-09-11,1106142.0,330.0,291.429,22217.0,1.0,1.143,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24205,BOL,South America,Bolivia,2022-09-12,1106142.0,0.0,291.429,22217.0,0.0,1.143,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24206,BOL,South America,Bolivia,2022-09-13,1106319.0,177.0,271.143,22218.0,1.0,1.286,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24207,BOL,South America,Bolivia,2022-09-14,1106538.0,219.0,186.000,22218.0,0.0,0.857,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24208,BOL,South America,Bolivia,2022-09-15,1106900.0,362.0,237.714,22226.0,8.0,2.000,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN

In [20]:
df_bolivia = df[df["location"] =="Bolivia"]
print(df_bolivia.shape)
df_bolivia

(919, 67)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
23290,BOL,South America,Bolivia,2020-03-11,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23291,BOL,South America,Bolivia,2020-03-12,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23292,BOL,South America,Bolivia,2020-03-13,3.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23293,BOL,South America,Bolivia,2020-03-14,10.0,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23294,BOL,South America,Bolivia,2020-03-15,10.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24204,BOL,South America,Bolivia,2022-09-11,1106142.0,330.0,291.429,22217.0,1.0,1.143,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24205,BOL,South America,Bolivia,2022-09-12,1106142.0,0.0,291.429,22217.0,0.0,1.143,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24206,BOL,South America,Bolivia,2022-09-13,1106319.0,177.0,271.143,22218.0,1.0,1.286,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24207,BOL,South America,Bolivia,2022-09-14,1106538.0,219.0,186.000,22218.0,0.0,0.857,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24208,BOL,South America,Bolivia,2022-09-15,1106900.0,362.0,237.714,22226.0,8.0,2.000,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN

In [21]:
df_bolivia["new_cases"].min()

0.0

In [22]:
df_bolivia["new_cases"].max()

23611.0

In [23]:
df_bolivia["new_cases"].mean()

1204.4613710554952

In [24]:
df_bolivia["new_cases"].median()

604.0

In [25]:
df_bolivia["new_cases"].std()

2147.8842364575785

In [26]:
df_bolivia["new_cases"].describe()

count      919.000000
mean      1204.461371
std       2147.884236
min          0.000000
25%        139.000000
50%        604.000000
75%       1374.500000
max      23611.000000
Name: new_cases, dtype: float64

In [27]:
df_bolivia.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,9.190000e+02,919.000000,914.000000,901.000000,901.000000,896.000000,919.000000,919.000000,914.000000,901.000000,...,0.0,0.0,919.000,9.190000e+02,919.00,9.190000e+02,23.000000,23.000000,23.000000,23.000000
mean,4.415011e+05,1204.461371,1210.279621,13867.748058,24.668147,24.792744,36549.704745,99.711429,100.193090,1148.042583,...,NaN,NaN,25.383,1.100000e+00,71.51,7.180000e-01,30136.673913,43.235652,55.360000,2494.866821
std,3.456261e+05,2147.884236,1686.116001,7412.854118,61.892378,31.751667,28612.682828,177.812760,139.585241,613.673690,...,NaN,NaN,0.000,4.443310e-16,0.00,1.110828e-16,18297.860953,17.805142,59.101257,1514.789798
min,2.000000e+00,0.000000,1.286000,1.000000,0.000000,0.000000,0.166000,0.000000,0.106000,0.083000,...,NaN,NaN,25.383,1.100000e+00,71.51,7.180000e-01,30.800000,0.180000,-19.440000,2.549780
25%,1.410380e+05,139.000000,282.249750,8802.000000,2.000000,5.000000,11675.841500,11.507000,23.366250,728.674000,...,NaN,NaN,25.383,1.100000e+00,71.51,7.180000e-01,20286.900000,46.745000,13.770000,1679.452546
50%,4.069540e+05,604.000000,748.214500,16243.000000,12.000000,15.642500,33689.718000,50.002000,61.941000,1344.678000,...,NaN,NaN,25.383,1.100000e+00,71.51,7.180000e-01,30869.400000,50.270000,33.560000,2555.525606
75%,8.444685e+05,1374.500000,1437.428250,21045.000000,36.000000,35.000000,69909.388500,113.788500,118.997250,1742.212000,...,NaN,NaN,25.383,1.100000e+00,71.51,7.180000e-01,47990.000000,52.500000,89.310000,3972.855767
max,1.106900e+06,23611.000000,11969.714000,22226.000000,1656.000000,289.571000,91634.800000,1954.638000,990.914000,1839.981000,...,NaN,NaN,25.383,1.100000e+00,71.51,7.180000e-01,58269.500000,56.240000,245.440000,4823.844950

## Missing values

In [28]:
df_bolivia["new_deaths"].isna()

23290     True
23291     True
23292     True
23293     True
23294     True
         ...
24204    False
24205    False
24206    False
24207    False
24208    False
Name: new_deaths, Length: 919, dtype: bool

In [29]:
df_bolivia["new_deaths"]

23290    NaN
23291    NaN
23292    NaN
23293    NaN
23294    NaN
        ...
24204    1.0
24205    0.0
24206    1.0
24207    0.0
24208    8.0
Name: new_deaths, Length: 919, dtype: float64

In [30]:
print(df_bolivia["new_deaths"].count())  # Valores no nulos

901

In [31]:
print(df_bolivia["new_deaths"].isna().sum())

18

In [32]:
df_bolivia["new_deaths"] = df_bolivia["new_deaths"].fillna(0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
print(df_bolivia["new_deaths"].count())  # Valores no nulos

919

In [34]:
df_bolivia["new_deaths"].dropna()

23290    0.0
23291    0.0
23292    0.0
23293    0.0
23294    0.0
        ...
24204    1.0
24205    0.0
24206    1.0
24207    0.0
24208    8.0
Name: new_deaths, Length: 919, dtype: float64

In [35]:
# Volvemos a generar el dataset para tener los NaN
df_bolivia = df[df["location"] =="Bolivia"]
print(df_bolivia.shape)
df_bolivia

(919, 67)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
23290,BOL,South America,Bolivia,2020-03-11,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23291,BOL,South America,Bolivia,2020-03-12,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23292,BOL,South America,Bolivia,2020-03-13,3.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23293,BOL,South America,Bolivia,2020-03-14,10.0,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
23294,BOL,South America,Bolivia,2020-03-15,10.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24204,BOL,South America,Bolivia,2022-09-11,1106142.0,330.0,291.429,22217.0,1.0,1.143,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24205,BOL,South America,Bolivia,2022-09-12,1106142.0,0.0,291.429,22217.0,0.0,1.143,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24206,BOL,South America,Bolivia,2022-09-13,1106319.0,177.0,271.143,22218.0,1.0,1.286,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24207,BOL,South America,Bolivia,2022-09-14,1106538.0,219.0,186.000,22218.0,0.0,0.857,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
24208,BOL,South America,Bolivia,2022-09-15,1106900.0,362.0,237.714,22226.0,8.0,2.000,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN

In [36]:
# Para corroborar si tenemos o no valores nulos en una columna
df_bolivia["new_cases"].hasnans

False

In [37]:
# Para corroborar si tenemos o no valores nulos en una columna
df_bolivia["new_deaths"].hasnans

True

In [38]:
df_bolivia["new_deaths"].notna()

23290    False
23291    False
23292    False
23293    False
23294    False
         ...
24204     True
24205     True
24206     True
24207     True
24208     True
Name: new_deaths, Length: 919, dtype: bool

## Operaciones con columnas

In [39]:
# creamos una nueva columna en el DataFrame
df_bolivia["nueva_columna"] = df_bolivia["new_cases"]
df_bolivia.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,nueva_columna
23290,BOL,South America,Bolivia,2020-03-11,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,2.0
23291,BOL,South America,Bolivia,2020-03-12,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,0.0
23292,BOL,South America,Bolivia,2020-03-13,3.0,1.0,NaN,NaN,NaN,NaN,...,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,1.0
23293,BOL,South America,Bolivia,2020-03-14,10.0,7.0,NaN,NaN,NaN,NaN,...,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,7.0
23294,BOL,South America,Bolivia,2020-03-15,10.0,0.0,NaN,NaN,NaN,NaN,...,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,0.0

In [40]:
df_bolivia["total_cases_day_before"] = df_bolivia["total_cases"] - df_bolivia["new_cases"]
df_bolivia

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,nueva_columna,total_cases_day_before
23290,BOL,South America,Bolivia,2020-03-11,2.0,2.0,NaN,NaN,NaN,NaN,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,2.0,0.0
23291,BOL,South America,Bolivia,2020-03-12,2.0,0.0,NaN,NaN,NaN,NaN,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,0.0,2.0
23292,BOL,South America,Bolivia,2020-03-13,3.0,1.0,NaN,NaN,NaN,NaN,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,1.0,2.0
23293,BOL,South America,Bolivia,2020-03-14,10.0,7.0,NaN,NaN,NaN,NaN,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,7.0,3.0
23294,BOL,South America,Bolivia,2020-03-15,10.0,0.0,NaN,NaN,NaN,NaN,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24204,BOL,South America,Bolivia,2022-09-11,1106142.0,330.0,291.429,22217.0,1.0,1.143,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,330.0,1105812.0
24205,BOL,South America,Bolivia,2022-09-12,1106142.0,0.0,291.429,22217.0,0.0,1.143,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,0.0,1106142.0
24206,BOL,South America,Bolivia,2022-09-13,1106319.0,177.0,271.143,22218.0,1.0,1.286,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,177.0,1106142.0
24207,BOL,South America,Bolivia,2022-09-14,1106538.0,219.0,186.000,22218.0,0.0,0.857,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,219.0,1106319.0
24208,BOL,South America,Bolivia,2022-09-15,1106900.0,362.0,237.714,22226.0,8.0,2.000,...,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN,362.0,1106538.0

In [41]:
df_bolivia["casos_acumulados"] = df_bolivia['new_cases'].cumsum()
df_bolivia

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,nueva_columna,total_cases_day_before,casos_acumulados
23290,BOL,South America,Bolivia,2020-03-11,2.0,2.0,NaN,NaN,NaN,NaN,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,2.0,0.0,2.0
23291,BOL,South America,Bolivia,2020-03-12,2.0,0.0,NaN,NaN,NaN,NaN,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,0.0,2.0,2.0
23292,BOL,South America,Bolivia,2020-03-13,3.0,1.0,NaN,NaN,NaN,NaN,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,1.0,2.0,3.0
23293,BOL,South America,Bolivia,2020-03-14,10.0,7.0,NaN,NaN,NaN,NaN,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,7.0,3.0,10.0
23294,BOL,South America,Bolivia,2020-03-15,10.0,0.0,NaN,NaN,NaN,NaN,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,0.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24204,BOL,South America,Bolivia,2022-09-11,1106142.0,330.0,291.429,22217.0,1.0,1.143,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,330.0,1105812.0,1106142.0
24205,BOL,South America,Bolivia,2022-09-12,1106142.0,0.0,291.429,22217.0,0.0,1.143,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,0.0,1106142.0,1106142.0
24206,BOL,South America,Bolivia,2022-09-13,1106319.0,177.0,271.143,22218.0,1.0,1.286,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,177.0,1106142.0,1106319.0
24207,BOL,South America,Bolivia,2022-09-14,1106538.0,219.0,186.000,22218.0,0.0,0.857,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,219.0,1106319.0,1106538.0
24208,BOL,South America,Bolivia,2022-09-15,1106900.0,362.0,237.714,22226.0,8.0,2.000,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,362.0,1106538.0,1106900.0

In [42]:
df_bolivia["nueva_columna"]  = df_bolivia["nueva_columna"] - 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:

df_bolivia[['location', 'date', 'total_cases', 'new_cases', 'new_deaths', 'nueva_columna', 'total_cases_day_before', 'casos_acumulados']]

,location,date,total_cases,new_cases,new_deaths,nueva_columna,total_cases_day_before,casos_acumulados
23290,Bolivia,2020-03-11,2.0,2.0,NaN,1.0,0.0,2.0
23291,Bolivia,2020-03-12,2.0,0.0,NaN,-1.0,2.0,2.0
23292,Bolivia,2020-03-13,3.0,1.0,NaN,0.0,2.0,3.0
23293,Bolivia,2020-03-14,10.0,7.0,NaN,6.0,3.0,10.0
23294,Bolivia,2020-03-15,10.0,0.0,NaN,-1.0,10.0,10.0
...,...,...,...,...,...,...,...,...
24204,Bolivia,2022-09-11,1106142.0,330.0,1.0,329.0,1105812.0,1106142.0
24205,Bolivia,2022-09-12,1106142.0,0.0,0.0,-1.0,1106142.0,1106142.0
24206,Bolivia,2022-09-13,1106319.0,177.0,1.0,176.0,1106142.0,1106319.0
24207,Bolivia,2022-09-14,1106538.0,219.0,0.0,218.0,1106319.0,1106538.0
24208,Bolivia,2022-09-15,1106900.0,362.0,8.0,361.0,1106538.0,1106900.0

## Seleccionando filas

In [44]:
df_bolivia["new_deaths"] > 100

23290    False
23291    False
23292    False
23293    False
23294    False
         ...
24204    False
24205    False
24206    False
24207    False
24208    False
Name: new_deaths, Length: 919, dtype: bool

In [45]:
# Vamos a seleccionar/filtrar del dataset las filas que cumplen con la condición 
df_bolivia[df_bolivia["new_deaths"] > 100]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,nueva_columna,total_cases_day_before,casos_acumulados
23465,BOL,South America,Bolivia,2020-09-02,117928.0,661.0,833.429,5203.0,102.0,68.143,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,660.0,117267.0,117928.0
23470,BOL,South America,Bolivia,2020-09-07,121604.0,835.0,715.143,7054.0,1656.0,289.571,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,834.0,120769.0,121604.0
23728,BOL,South America,Bolivia,2021-05-23,349653.0,3583.0,2440.857,13965.0,108.0,64.000,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,3582.0,346070.0,349653.0
23730,BOL,South America,Bolivia,2021-05-25,355349.0,5696.0,2932.143,14124.0,159.0,79.714,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,5695.0,349653.0,355349.0
23731,BOL,South America,Bolivia,2021-05-26,358562.0,3213.0,3017.286,14226.0,102.0,84.429,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,3212.0,355349.0,358562.0
23737,BOL,South America,Bolivia,2021-06-01,374718.0,3439.0,2767.000,14639.0,115.0,73.571,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,3438.0,371279.0,374718.0
23744,BOL,South America,Bolivia,2021-06-08,392975.0,5813.0,2608.143,15177.0,153.0,76.857,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,5812.0,387162.0,392975.0
23746,BOL,South America,Bolivia,2021-06-10,400047.0,7072.0,2798.571,15321.0,144.0,69.857,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,7071.0,392975.0,400047.0
23748,BOL,South America,Bolivia,2021-06-12,405347.0,5300.0,2801.857,15485.0,164.0,72.000,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,5299.0,400047.0,405347.0
23751,BOL,South America,Bolivia,2021-06-15,411677.0,2571.0,2671.714,15738.0,124.0,80.143,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,2570.0,409106.0,411677.0
23755,BOL,South America,Bolivia,2021-06-19,420961.0,3766.0,2230.571,16088.0,164.0,86.143,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,3765.0,417195.0,420961.0
23808,BOL,South America,Bolivia,2021-08-11,480229.0,1558.0,590.286,18109.0,105.0,28.429,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,1557.0,478671.0,480229.0
23970,BOL,South America,Bolivia,2022-01-20,795087.0,20860.0,11969.714,20504.0,127.0,57.286,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,20859.0,774227.0,795087.0
23974,BOL,South America,Bolivia,2022-01-24,820583.0,15906.0,9464.000,20671.0,101.0,59.571,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,15905.0,804677.0,820583.0
24038,BOL,South America,Bolivia,2022-03-29,901752.0,165.0,250.429,21894.0,405.0,58.714,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,164.0,901587.0,901752.0

In [46]:
# Filtramos los dias donde no se registraron muertes
df_bolivia[df_bolivia["new_deaths"] == 0]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,nueva_columna,total_cases_day_before,casos_acumulados
23315,BOL,South America,Bolivia,2020-04-05,157.0,18.0,10.857,10.0,0.0,1.286,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,17.0,139.0,157.0
23325,BOL,South America,Bolivia,2020-04-15,397.0,43.0,26.714,28.0,0.0,1.857,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,42.0,354.0,397.0
23328,BOL,South America,Bolivia,2020-04-18,493.0,28.0,31.143,31.0,0.0,1.571,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,27.0,465.0,493.0
23469,BOL,South America,Bolivia,2020-09-06,120769.0,528.0,685.857,5398.0,0.0,61.714,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,527.0,120241.0,120769.0
23692,BOL,South America,Bolivia,2021-04-17,287360.0,0.0,827.143,12625.0,0.0,26.143,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,-1.0,287360.0,287360.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24198,BOL,South America,Bolivia,2022-09-05,1104102.0,0.0,570.000,22209.0,0.0,2.000,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,-1.0,1104102.0,1104102.0
24199,BOL,South America,Bolivia,2022-09-06,1104421.0,319.0,395.571,22209.0,0.0,1.571,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,318.0,1104102.0,1104421.0
24201,BOL,South America,Bolivia,2022-09-08,1105236.0,0.0,318.286,22212.0,0.0,1.571,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,-1.0,1105236.0,1105236.0
24205,BOL,South America,Bolivia,2022-09-12,1106142.0,0.0,291.429,22217.0,0.0,1.143,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,-1.0,1106142.0,1106142.0
24207,BOL,South America,Bolivia,2022-09-14,1106538.0,219.0,186.000,22218.0,0.0,0.857,...,1.1,71.51,0.718,NaN,NaN,NaN,NaN,218.0,1106319.0,1106538.0

## Group by

max(), min(), mean(), first(), last()

In [47]:
df.groupby(['continent','iso_code']).sum()

                         total_cases  new_cases  new_cases_smoothed  \
continent     iso_code
Africa        AGO       4.177282e+07   103131.0          102705.156
              BDI       1.411931e+07    49882.0           49441.289
              BEN       1.202072e+07    27847.0           27717.294
              BFA       1.074052e+07    21128.0           21126.706
              BWA       1.138320e+08   326127.0          325950.616
...                              ...        ...                 ...
South America PER       1.742582e+09  4132503.0         4125585.844
              PRY       3.012020e+08   715806.0          715600.288
              SUR       2.999724e+07    81078.0           81065.283
              URY       3.226783e+08   982867.0          981416.718
              VEN       2.451927e+08   544057.0          543760.999

                        total_deaths  new_deaths  new_deaths_smoothed  \
continent     iso_code
Africa        AGO           895051.0      1920.0             1914.875
              BDI            16981.0        38.0               37.295
              BEN            90388.0       163.0              162.322
              BFA           177883.0       387.0              385.739
              BWA          1182174.0      2787.0             2785.789
...                              ...         ...                  ...
South America PER        132623405.0    216971.0           216655.578
              PRY          8874776.0     19530.0            19498.030
              SUR           564028.0      1384.0             1383.331
              URY          3315776.0      7462.0             7458.177
              VEN          2709544.0      5815.0             5811.570

                        total_cases_per_million  new_cases_per_million  \
continent     iso_code
Africa        AGO                  1.210674e+06               2988.993
              BDI                  1.124936e+06               3974.269
              BEN                  9.248918e+05               2142.592
              BFA                  4.859814e+05                955.967
              BWA                  4.397734e+07             125994.482
...                                         ...                    ...
South America PER                  5.168493e+07             122569.928
              PRY                  4.493004e+07             106776.184
              SUR                  4.893642e+07             132267.716
              URY                  9.417800e+07             286862.942
              VEN                  8.694819e+06              19292.884

                        new_cases_smoothed_per_million  \
continent     iso_code
Africa        AGO                             2976.629
              BDI                             3939.176
              BEN                             2132.652
              BFA                              955.931
              BWA                           125926.326
...                                                ...
South America PER                           122364.774
              PRY                           106745.484
              SUR                           132246.982
              URY                           286439.663
              VEN                            19282.407

                        total_deaths_per_million  ...  female_smokers  \
continent     iso_code                            ...
Africa        AGO                      25940.599  ...             0.0
              BDI                       1353.143  ...             0.0
              BEN                       6954.531  ...           548.4
              BFA                       8048.819  ...          1472.0
              BWA                     456715.879  ...          5130.0
...                                          ...  ...             ...
South America PER                    3933606.665  ...          4435.2
              PRY                    1323842.809  ...          4615.0
              SUR                     920134.911  ...          6778.4
              URY                     967753.750  ...         12838.0
              VEN                      96083.590  ...             0.0

                        male_smokers  handwashing_facilities  \
continent     iso_code
Africa        AGO                0.0               24264.240
              BDI                0.0                5523.456
              BEN            11242.2               10085.990
              BFA            21988.0               10926.840
              BWA            30960.0                   0.000
...                              ...                     ...
South America PER                0.0                   0.000
              PRY            19936.8               73472.646
              SUR            39296.4               62085.564
              URY            18248.3                   0.000
              VEN                0.0                   0.000

                        hospital_beds_per_thousand  life_expectancy  \
continent     iso_code
Africa        AGO                              0.0         55646.50
              BDI                            719.2         55360.42
              BEN                            457.0         56457.78
              BFA                            368.0         56653.60
              BWA                           1620.0         62631.00
...                                            ...              ...
South America PER                           1478.4         70907.76
              PRY                           1199.9         68532.75
              SUR                           2839.6         65658.88
              URY                           2567.6         71443.47
              VEN                            732.8         66006.96

                        human_development_index  \
continent     iso_code
Africa        AGO                       528.710
              BDI                       389.267
              BEN                       498.130
              BFA                       415.840
              BWA                       661.500
...                                         ...
South America PER                       717.948
              PRY                       671.944
              SUR                       676.008
              URY                       749.189
              VEN                       651.276

                        excess_mortality_cumulative_absolute  \
continent     iso_code
Africa        AGO                                        0.0
              BDI                                        0.0
              BEN                                        0.0
              BFA                                        0.0
              BWA                                        0.0
...                                                      ...
South America PER                                 16799603.5
              PRY                                   332095.5
              SUR                                     -381.3
              URY                                    27299.7
              VEN                                        0.0

                        excess_mortality_cumulative  excess_mortality  \
continent     iso_code
Africa        AGO                              0.00              0.00
              BDI                              0.00              0.00
              BEN                              0.00              0.00
              BFA                              0.00              0.00
              BWA                              0.00              0.00
...                                             ...               ...
South America PER                           6802.73           6173.83
              PRY                            538.87            824.03
              SUR                            -24.35             14.14
              URY                             -4.96            231.50
              VEN                              0.00              0.00

                        excess_mortality_cumulative_per_million
continent     iso_code
Africa        AGO                                      0.000000
              BDI                                      0.000000
              BEN                                      0.000000
              BFA                                      0.000000
              BWA                                      0.000000
...                                                         ...
South America PER                                 498275.791601
              PRY                                  49538.403523
              SUR                                   -622.039074
              URY                                   7967.784114
              VEN                                      0.000000

[231 rows x 62 columns]

In [48]:
df.groupby(['continent','iso_code']).first()

                            location        date  total_cases  new_cases  \
continent     iso_code
Africa        AGO             Angola  2020-03-20          1.0        1.0
              BDI            Burundi  2020-03-31          2.0        2.0
              BEN              Benin  2020-03-16          1.0        1.0
              BFA       Burkina Faso  2020-03-10          1.0        1.0
              BWA           Botswana  2020-03-30          3.0        3.0
...                              ...         ...          ...        ...
South America PER               Peru  2020-03-06          1.0        1.0
              PRY           Paraguay  2020-03-07          1.0        1.0
              SUR           Suriname  2020-03-14          1.0        1.0
              URY            Uruguay  2020-03-13          4.0        4.0
              VEN          Venezuela  2020-03-14          2.0        2.0

                        new_cases_smoothed  total_deaths  new_deaths  \
continent     iso_code
Africa        AGO                    0.429           2.0         2.0
              BDI                    0.429           1.0         1.0
              BEN                    0.286           1.0         1.0
              BFA                    0.429           1.0         1.0
              BWA                    0.571           1.0         1.0
...                                    ...           ...         ...
South America PER                    1.571           1.0         1.0
              PRY                    1.000           1.0         1.0
              SUR                    0.143           1.0         1.0
              URY                   11.286           1.0         1.0
              VEN                    6.000           1.0         1.0

                        new_deaths_smoothed  total_cases_per_million  \
continent     iso_code
Africa        AGO                     0.286                    0.029
              BDI                     0.143                    0.159
              BEN                     0.143                    0.077
              BFA                     0.571                    0.045
              BWA                     0.143                    1.159
...                                     ...                      ...
South America PER                     0.286                    0.030
              PRY                     0.429                    0.149
              SUR                     0.143                    1.631
              URY                     0.571                    1.167
              VEN                     0.429                    0.071

                        new_cases_per_million  ...  female_smokers  \
continent     iso_code                         ...
Africa        AGO                       0.029  ...             NaN
              BDI                       0.159  ...             NaN
              BEN                       0.077  ...             0.6
              BFA                       0.045  ...             1.6
              BWA                       1.159  ...             5.7
...                                       ...  ...             ...
South America PER                       0.030  ...             4.8
              PRY                       0.149  ...             5.0
              SUR                       1.631  ...             7.4
              URY                       1.167  ...            14.0
              VEN                       0.071  ...             NaN

                        male_smokers  handwashing_facilities  \
continent     iso_code
Africa        AGO                NaN                  26.664
              BDI                NaN                   6.144
              BEN               12.3                  11.035
              BFA               23.9                  11.877
              BWA               34.4                     NaN
...                              ...                     ...
South America PER                NaN                     NaN
              PRY               21.6                  79.602
              SUR               42.9                  67.779
              URY               19.9                     NaN
              VEN                NaN                     NaN

                        hospital_beds_per_thousand  life_expectancy  \
continent     iso_code
Africa        AGO                              NaN            61.15
              BDI                              0.8            61.58
              BEN                              0.5            61.77
              BFA                              0.4            61.58
              BWA                              1.8            69.59
...                                            ...              ...
South America PER                              1.6            76.74
              PRY                              1.3            74.25
              SUR                              3.1            71.68
              URY                              2.8            77.91
              VEN                              0.8            72.06

                        human_development_index  \
continent     iso_code
Africa        AGO                         0.581
              BDI                         0.433
              BEN                         0.545
              BFA                         0.452
              BWA                         0.735
...                                         ...
South America PER                         0.777
              PRY                         0.728
              SUR                         0.738
              URY                         0.817
              VEN                         0.711

                        excess_mortality_cumulative_absolute  \
continent     iso_code
Africa        AGO                                        NaN
              BDI                                        NaN
              BEN                                        NaN
              BFA                                        NaN
              BWA                                        NaN
...                                                      ...
South America PER                                    -2160.5
              PRY                                      714.7
              SUR                                      -41.7
              URY                                     -121.4
              VEN                                        NaN

                        excess_mortality_cumulative  excess_mortality  \
continent     iso_code
Africa        AGO                               NaN               NaN
              BDI                               NaN               NaN
              BEN                               NaN               NaN
              BFA                               NaN               NaN
              BWA                               NaN               NaN
...                                             ...               ...
South America PER                             -7.33             -6.80
              PRY                              8.90             10.78
              SUR                             -4.07            -13.29
              URY                             -1.58             -1.90
              VEN                               NaN               NaN

                        excess_mortality_cumulative_per_million
continent     iso_code
Africa        AGO                                           NaN
              BDI                                           NaN
              BEN                                           NaN
              BFA                                           NaN
              BWA                                           NaN
...                                                         ...
South America PER                                    -64.080372
              PRY                                    106.611192
              SUR                                    -68.027877
              URY                                    -35.432221
              VEN                                           NaN

[231 rows x 65 columns]

In [49]:
df.groupby(['continent','iso_code']).agg({"total_cases": "sum", "total_deaths": "sum", "date": "min" })

                         total_cases  total_deaths        date
continent     iso_code
Africa        AGO       4.177282e+07      895051.0  2020-03-20
              BDI       1.411931e+07       16981.0  2020-03-31
              BEN       1.202072e+07       90388.0  2020-03-16
              BFA       1.074052e+07      177883.0  2020-03-10
              BWA       1.138320e+08     1182174.0  2020-03-30
...                              ...           ...         ...
South America PER       1.742582e+09   132623405.0  2020-03-06
              PRY       3.012020e+08     8874776.0  2020-03-07
              SUR       2.999724e+07      564028.0  2020-03-14
              URY       3.226783e+08     3315776.0  2020-03-13
              VEN       2.451927e+08     2709544.0  2020-03-14

[231 rows x 3 columns]

In [50]:
df[df["continent"] == "South America"].groupby(['continent','iso_code']).agg({"total_cases": "sum", "total_deaths": "sum", "date": ["min", "max", 'count', "nunique"] })

                         total_cases total_deaths        date              \
                                 sum          sum         min         max
continent     iso_code
South America ARG       3.901748e+09   68262449.0  2020-01-01  2022-09-15
              BOL       4.057395e+08   12494841.0  2020-03-11  2022-09-15
              BRA       1.492330e+10  367087552.0  2020-02-26  2022-09-15
              CHL       1.490728e+09   27223194.0  2020-02-23  2022-09-15
              COL       3.107433e+09   75826907.0  2020-03-06  2022-09-15
              ECU       4.044577e+08   20152401.0  2020-03-01  2022-09-15
              FLK       2.676080e+05          0.0  2020-04-04  2022-09-15
              GUY       2.480189e+07     522759.0  2020-03-12  2022-09-15
              PER       1.742582e+09  132623405.0  2020-03-06  2022-09-15
              PRY       3.012020e+08    8874776.0  2020-03-07  2022-09-15
              SUR       2.999724e+07     564028.0  2020-03-14  2022-09-15
              URY       3.226783e+08    3315776.0  2020-03-13  2022-09-15
              VEN       2.451927e+08    2709544.0  2020-03-14  2022-09-15


                       count nunique
continent     iso_code
South America ARG        989     989
              BOL        919     919
              BRA        933     933
              CHL        936     936
              COL        924     924
              ECU        929     929
              FLK        895     895
              GUY        918     918
              PER        924     924
              PRY        923     923
              SUR        916     916
              URY        917     917
              VEN        916     916

** Tarea ;) **

Investiga los comandos 

.loc

.iloc

.ix

pivot_table


Aplícalos al dataframe del presente notebook